.container {
    width: 80%;
    margin: 0 auto;
    margin-top: 50px;
    overflow: hidden;
}

.container .files-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.container .files-wrapper .files-list {
    width: 50%;
    margin-inline: auto;
    margin-bottom: 20px;
    padding: 10px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.container .files-wrapper .files-list .file {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #f0f0f0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container .files-wrapper .files-list .file .filename {
    width: 40%;
    text-overflow: ellipsis;
}

.container .files-wrapper .files-list .file .size {
    width: 20%;
}

.container .files-wrapper .files-list .file .download {
    width: 20%;
    text-align: center;
    color: #333;
    font-weight: bold;
}
